<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <title>Função Quadrática</title>
    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Equação Quadrática</h1>
      <p>Nesta página descreve brevemente as equações quadráticas, ou equaçõesde segundo grau.</p>
    </header>
    <nav>
      <ul>
        <li>Main</li>
        <li>Formatting</li>
        <li>Form</li>
      </ul>
    </nav>
    <section class="main-section">
      <h2>Descrição</h2>
      <p>
        Equação quadrática, ou equação de segundo grau, é uma equação polinomial de grau 2. É data pela seguinte
          fórmula geral:
      </p>
      <div class="equacao-box">
        <div class="equacao"><var>ax<sup>2</sup> + bx + c = 0</var></div>
        <div class="equacao-note">
            Onde: <br />
            <var>x</var> é uma variável. <br />
            <var>a, b</var> e <var>c</var> são constantes.
        </div>
      </div>
      <p>A resolução desta equação se dá pela descoberta do valor(s) de <var>x</var> dados valores das constantes
      <var>a, b, c</var>.</p>
    </section>
  </body>
</html>